<div class="a11y container">
  <div class="d-flex justify-content-center">
    <p>
      <i class="fa-brands fa-accessible-icon fa-4x" aria-hidden="true"></i>
      {% if locale == "fr" %}
        Notre restaurant s'efforce d'être inclusif et accessible à tous les clients et s'efforcera de dépasser vos attentes en termes de service. Nous nous efforcerons de dépasser vos attentes notamment en garantissant un accès sans obstacle au lieu et en incluant des éléments d'accessibilité tels que des rampes pour fauteuils roulants et des copies <a href="/fr/menu">électroniques de notre menu.</a>
      {% else %}
        Our restaurant strives for inclusion and accessibility to all customers and will attempt to exceed your expectations in terms of service. This includes ensureing barrier free access to the venue and including accessibility featurers like wheelchair ramps and <a href="/en/menu">electronic copies of the menu</a>.
      {% endif %}

    </p>
  </div>
</div>
