<div class="container py-4">
  <header>
        <div class="logo">
          <a href="{{ '/' | url }}" class="text-decoration-none row">
            <div class="col-3">
              <img src="{{ '/assets/images/4O-Logo-code.svg' | url }}" alt="Microbrasserie 4 Origines" class="me-2 img-fluid">
            </div>
            <div class="col title text-uppercase">
              <span>{{ site.title }}</span>
            </div>
          </a>
        </div>
    <div class="pb-3 mb-4 border-bottom">
          <nav class="navbar navbar-light navbar-expand-lg">
            <div class="container-fluid">
              <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">{% include "navigation.njk" %}</div>
            </div>
          </nav>
    </div>
  </header>
</div>
