{% set otherLang = "fr" if locale == "en" else
  "en" %}
{% set otherLanguage = "Français" if locale == "en" else
  "English" %}

<div class="container py-4">
  <header>
    <p class="text-end">
      <a class="btn btn-secondary" lang="{{ otherLang }}" hreflang="{{ otherLang }}" href="/{{otherLang}}/{% if page.fileSlug == "menu" %}menu{% endif %}">{{ otherLanguage }}</a>
    </p>
    <div class="text-center my-4">
      <a href="/{{ locale }}/" class="text-white text-decoration-none">
        <div class="logo">
          <img src="{{ '/assets/images/4OLogo.jpg' | url }}" alt="{{ site[locale].companyName }}" class="me-2 img-fluid">
        </div>
        <div class="title text-uppercase">
          <span>{{ site[locale].title }}</span>
        </div>
      </a>
    </div>
    <div class="pb-3 mb-4 border-bottom">
      <nav class="navbar navbar-light navbar-expand">
        <div class="container-fluid">

          <div class="collapse navbar-collapse" id="navbarNav">{% include "navigation.njk" %}</div>
        </div>
      </nav>
    </div>
  </header>
</div>
