<div class="container py-4">
  <header>
    <div class="text-center my-4">
      <a href="{{ '/{{ locale }}/' | url }}" class="text-white text-decoration-none">
        <div class="logo">
          <img src="{{ '/assets/images/4OLogo.jpg' | url }}" alt="{{ site[locale].companyName }}" class="me-2 img-fluid">
        </div>
        <div class="title text-uppercase">
          <span>{{ site[locale].title }}</span>
        </div>
      </a>
    </div>
    <div class="pb-3 mb-4 border-bottom">
      <nav class="navbar navbar-light navbar-expand-lg">
        <div class="container-fluid">
          <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">{% include "navigation.njk" %}</div>
        </div>
      </nav>
    </div>
  </header>
</div>
