{# We use eleventy-rss plugin absoluteUrl filter as helper for absolute URL generation #}

{# General #}
<meta name="description" content="{{ description }}">

{# Open Graph #}
<meta property="og:site_name" content="{{ title }}">
<meta property="og:title" content="{{ title }}">
<meta property="og:description" content="{{ description }}">
<meta property="og:url" content="{{ page.url | url | absoluteUrl(site.baseUrl) }}">
<meta property="og:locale" content="{{ local }}">
<meta property="og:type" content="website">

{# Twitter #}
<meta name="twitter:card" content="{% if meta.image -%}summary_large_image{% else %}summary{% endif %}">
<meta name="twitter:title" content="{{ title }}">
<meta name="twitter:description" content="{{ description}}">
{%- if meta.image -%}
  <meta property="twitter:image" content="{{ meta.image | url | absoluteUrl(site.baseUrl) }}">
{%- endif -%}
{# eo Twitter #}

{# Favicon #}
<link rel="icon" href="{{ '/assets/favicons/favicon.ico' | url }}">

{# This file is ignored by prettier by now /bc too much damage ;-), see .prettierignore #}

{% include "google.njk" %}
