{%- set isHome = page.fileSlug == locale -%}
{%- set isMenu = page.fileSlug == "menu" -%}

<ul class="nav nav-pills nav-fill text-white">
  <li class="nav-item">
    <a class="nav-link{% if isHome %} active{% endif %}" href="{% if isHome %}#main{% else %}/{{ locale }}/{% endif %}" {% if isHome %}aria-current="page" {% endif %}>
      {% if locale == "en" %}
      Home
    {% else %}
      Accueil
    {% endif %}
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link{% if isMenu %} active{% endif %}" href="{% if isMenu %}#main{% else %}/{{ locale }}/menu/{% endif %}" {% if isMenu %}aria-current="page" {% endif %}>
    Menu
    </a>
  </li>
  <li class="nav-item">
    <a href="https://4origines.com" class="nav-link">
      {% if locale == "en" %}
      4 Origins Brewing Company
    {% else %}
      Microbrasserie 4 Origines
    {% endif %}
    </a>
  </li>
</ul>
