---
layout: base
icon: fa-utensils
title: Menu
eleventyNavigation:
  key: Menu
  order: 1
---

<div id="menu" class="row g-5">
  {% for item in menu.en %}
  <section class="col-6">
    <div class="p-3 border">
      <h2 class="">{{ item.section }}</h2>
      <p>{{ item.description }}</p>
      {% for item in item.items %}
      <section class="mt-3">
        <h3>
          {{ item.name }}
          {% if item.Vegetarian == true %}<span class="icon-vegetarian"></span> <span class="visually-hidden">Vegetarian</span>{% endif %}
          {% if item.Vegan == true %}<span class="icon-vegan"></span> <span class="visually-hidden">Vegan</span>{% endif %}
          {% if item.GlutenFree == true %} <span class="icon-glutenfree"></span> <span class="visually-hidden">Gluten Free</span>{% endif %}
        </h3>
          <p>{{ item.description }}</p>
          {# <p>${{ item.price }}</p> #}
    </section>
    {% endfor %}
    </div>
  </section>
  {% endfor %}
</div>

