---
layout: base
icon: fa-utensils
title: Menu
eleventyNavigation:
  key: Menu
  order: 1
---

<p class="alert alert-danger" role="alert">
  The menu is just an example of that the menu will look like.
</p>


<div class="row">
  {% for item in menu %}
  <section class="col-6">
    <h2>{{ item.section }}</h2>
    {% for item in item.details %}
    <section>
      <h3>{{ item.name }}</h3>
        <p>{{ item.description }}</p>
        <p>${{ item.price }}</p>
    </section>
    {% endfor %}
  </section>
  {% endfor %}
</div>

