---
meta:
  lang: en
  title: originebrass.com
  image: "/assets/images/open-graph/teaser.jpeg"
  description: The soon to be site for 4 Origines Breweryn in Dorion.
layout: base
eleventyNavigation:
  key: Home
---

<div class="p-5 mb-4 bg-light rounded-3 banner">
  <div class="container-fluid py-2">
  <img src="./assets/images/location.png" class="card-img-top" alt="">
    <h1 class="display-5 fw-bold mt-4">{{ site.title }}</h1>
    <p class="col-md-10 fs-4 pt-2">
      <a href="https://goo.gl/maps/btakfqwKMMuG3TPWA">
      <i class="fa-solid fa-map me-2" aria-hidden="true"></i>
      2220 Hymus Blvd, Dorval, Québec</a>
    </p>
    <a class="btn btn-primary btn-lg mt-2" href="/pages/menu">
    <i class="fa-solid fa-utensils me-2" aria-hidden="true"></i>
      See the menu
    </a>
    <a class="btn btn-outline-secondary text-black btn-lg mt-2" href="#">
      <i class="fa-solid fa-calendar-check me-2" aria-hidden="true"></i>
      Make a reservation
      </a>
      <dl class="mt-4">
        <dt>Hours:</dt>
        <dd>Wednesday to Saturday <time datetime="11:00">11:00</time>AM - <time datetime="23:00">11:00</time>PM.</dd>
      </dl>
  </div>
</div>
