---
meta:
  lang: en
  title: originebrass.com
  image: "/assets/images/open-graph/teaser.jpeg"
  description: The soon to be site for 4 Origines Breweryn in Dorion.
layout: base
eleventyNavigation:
  key: Home
---

<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-2">
    <h1 class="display-5 fw-bold">{{ site.title }}</h1>
    <p class="col-md-10 fs-4 mb-0 pt-2">
      <a href="https://goo.gl/maps/btakfqwKMMuG3TPWA">2220 Hymus Dorval.</a>
      <!-- This template
      contains Bootstrap (via npm), LaravelMix for compiling JS/SCSS and some small additions like eleventy-navigation.
      Other than that - just plain Bootstrap 5 and Eleventy. --><br /><br />
    </p>
    <a class="btn btn-primary btn-lg mt-2" href="/pages/menu">
      See the menu
    </a>
    <a class="btn btn-outline-secondary text-black btn-lg mt-2" href="#">Make a reservation</a>
    <p class="mt-4">
      <small>Hours: Wednesday to Saturday 11:00AM - 11:00PM.</small>
    </p>
  </div>
</div>
