---
meta:
  lang: en
  title: originebrass.com
  image: "/assets/images/open-graph/teaser.jpeg"
  description: The soon to be site for 4 Origines Breweryn in Dorion.
layout: base
eleventyNavigation:
  key: Home
---

<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-2">
    <h1 class="display-5 fw-bold">{{ site.title }}</h1>
    <p class="col-md-10 fs-4 pt-2">
      <a href="https://goo.gl/maps/btakfqwKMMuG3TPWA">
      <i class="fa-solid fa-map me-2" aria-hidden="true"></i>
      2220 Hymus Dorval.</a>
    </p>
    <a class="btn btn-primary btn-lg mt-2" href="/pages/menu">
    <i class="fa-solid fa-utensils me-2" aria-hidden="true"></i>
      See the menu
    </a>
    <a class="btn btn-outline-secondary text-black btn-lg mt-2" href="#">
      <i class="fa-solid fa-calendar-check me-2" aria-hidden="true"></i>
      Make a reservation
      </a>
    <p class="mt-4">
      Hours: Wednesday to Saturday 11:00AM - 11:00PM.
    </p>
  </div>
</div>
