// Imports

@import "_menu";


// SITE WIDE STYLES

a {
  color: $link-color;
  text-decoration: underline;

  &:hover {
    color: $link-color-hover;
  }
}

.btn-secondary {
  background-color: $link-color;
  color: #000;

  &:hover {
    background-color: $link-color-hover;
    color: #000;
  }
}

/* via https://getbootstrap.com/docs/5.0/examples/jumbotron/ */
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.logo {
  img {
    width: 230px;
  }
}

.title {
  font-size: 3rem;
  letter-spacing: .2em;
  font-family: 'EB Garamond', serif;

}

.img-fit-cover-container {
  &.rounded-3 {
    picture img {
      border-radius: 0.3rem !important;
    }
  }

  picture {
    width: 100%;
    height: 100%;
    display: flex;
  }

  picture img {
    object-fit: cover;
    height: auto;
    width: 100%;
  }
}

.a11y {

  padding: 50px 150px;

  @media only screen and (max-width: 992px) {
    padding: 50px 50px;
  }



  [class^="fa-"] {
    color: #fc625e;
    margin-right: 15px;
  }
}

.social {

  a {
    text-decoration: none;
    color: $link-color;

    &:hover {
      color: $link-color-hover;
    }
  }
}
