<!DOCTYPE html>
<html lang="{{ locale }}">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{ site[locale].title }} - {{ title }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="{{ '/dist/app.css' | url }}"/>
    {% include "favicon.njk" %}
    {% include "meta.njk" %}
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=EB+Garamond&amp;display=swap"/>
  </head>

  <body class="bg-black text-white">
    <!-- skiplinks -->
    <a href="#main" class="visually-hidden-focusable">{{ site[locale].skipMainContent }}</a>

    {% include "header.njk" %}

    <main id="main" class="container-fluid py-2 text-center">

      <h1>{{ title }}</h1>
      {% if description %}
		<p>{{ description }}</p>
	  {% endif %}
      {{ content | safe }}
    </main>

    {% include "footer.njk" %}
    <script type="text/javascript" src="{{ '/dist/app.js' | url }}"></script>
  </body>
</html>
